@font-face {
    font-family: "Atkinson Hyperlegible Next";
    src: url("../fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf"),
        url("../fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf");
    font-weight: 200 800;
    font-style: italic 0deg;
}

@font-face {
    font-family: "Atkinson Hyperlegible Mono";
    src: url("../fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf"),
    url("../fonts/AtkinsonHyperlegibleMono-Italic-VariableFont_wght.ttf");
    font-weight: 200 800;
    font-style: italic 0deg;
}

body {
  max-width: 900px;
  padding: 0px 20px;
  margin: 20px auto;
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  line-height: 1.4;
}

a, a:visited {
  font-weight: bold;
  color: inherit;
}

h1, h2, h3 {
  margin-bottom: 0;
  line-height: 1.2;
}

header {
  padding-bottom: 1em;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5pt;
  h1 {
    margin-top: 0;
  }
}

.directory {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  gap: 5pt;
  height: fit-content;
  > div {
    > span:first-child {
      font-weight: bold;
    }
  }
}

dl {
  display: grid;
  gap: 20px 16px;
  grid-template-columns: max-content;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
  grid-column-start: 2;
  > ul {
    list-style: none;
    padding-left: 0;
    border-top: 1px solid;
    padding-top: 5px;
    margin-top: 5px;
  }
}
